/* 둘러싸는거? */
#container { 
    text-align: left;
    margin: 0px left;
    padding: 0px;
  }

/* 로고 */
#header {
background-color: white;
margin : 0px left;
text-align: left;
border-bottom: 1px solid rgb(223, 223, 223);
box-shadow: 0 4px 9px -4px rgba(214, 214, 214);
}

#footer {
    position:fixed; 
    left:0px; 
    bottom:0px; 
    height:60px; 
    width:100%; 
    border:2px solid lightgray;
    color:blue;
    background-color: lightgray;
  }
/* 로고 */
img
{
width: 200px;
height: auto;
}
